@media(min-width:769px){
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        height: 100vh;
        position: fixed;
      }
      
      li a {
        display: block;
        color: #000;
        margin-left: 20px;
        padding: 8px 16px;
        /* text-align: center; */
        text-decoration: none;
        position: relative; 
        top: 20px
      }
      
      /* Change the link color on hover */
      li a:hover {
        background-color: #555;
        color: white;
      }


    @keyframes example {
        0%   {opacity: 0}
        25%  {opacity: 0.25}
        50%  {opacity: 0.5}
        75%  {opacity: 0.75}
        100% {opacity: 1}
      }
}