
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

  <div class="footerContainer">
      <ul class="footer" >
        <div >
            <p style="border-bottom: solid 1px white; padding: 5px 0; color: rgb(255, 255, 255); font-size: 1em; text-align: center">
                Ayia Skin Care
            </p>
        </div>

        <div class="headerContainer" >
            <li ><a>contact us</a></li>
            <li><a>Policy</a></li>
            <li><a>Help</a></li>
        </div>
        
            <div class="listingContainer" >
                <div>
                        <li><a routerlink="">Shipping and Handling</a></li>
                        <li><a routerlink="">Shipping and Handling</a></li>
                   
                </div>

                <div>
                        <li><a routerlink="">Shipping and Handling</a></li>
                        <li><a routerlink="">Shipping and Handling</a></li>
            
                </div>

                <div>
                        <li><a routerlink="">Shipping and Handling</a></li>
                        <li><a routerlink="">Shipping and Handling</a></li>
            
                </div>

          
            </div>

          
            
      
      
          <!-- <p style="font-size: 0.6em;   color: rgb(177, 3, 177); position: absolute; bottom: 0; right: 8%; ">Created by Thomas  Able Azaria</p> -->
  
      </ul>

    

 
  </div>

  <div style="text-align: center; position: relative; background-color: aliceblue ">
    Ayia © 2019
 </div>




