
        
  <div  class="myAbout " style="background-color: rgb(247, 247, 247);">
      <p>
        Ayia means ‘wild’ or ‘in the bush’ in Ma’di. It is a natural skin brand that uses native and exotic botanical. 

          The skin line is formed to support the current gap of skin care for dark skin woman. 
          
          The intention for the brand is to create products that are dark skin conscious and environmental friendly.
          
           It is an herbal based brand that intends to gather herbs from around the world to create the ultimate skin care. 
          
          At Ayia we hope to work outside the box and create products that are ancient by ingredients and modern by name for woman who are willing to invest in their skin and health.
        </p>
        <br><br><br><br>
        <br><br><br><br>

  </div>

 <!--  -->
 <!--  -->
 <!--  -->
 <!--  -->
 <!--  -->




  <!-- <section style="position: relative; display: grid; grid-template-columns: auto auto; height: 80vh; margin: 0px 0;">
      <div style="">
          <img style="object-fit: cover" width="100%" height="100%" src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
      </div>
    <div style="background-color: rgba(239, 234, 243, 0.425); padding: 10%">
      <h2> product name</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur accusamus omnis placeat nobis molestias nihil neque, quaerat fugiat voluptate laudantium expedita, tenetur, voluptas possimus natus facere! Non esse magnam tempora.
      </p>
    </div>
  
  </section>


  <section style="position: relative;margin: 60px 0;  display: grid; grid-template-columns: 30% auto;grid-gap: 12px ; height: 80vh; padding: 0 5%; ">

      <div style="height: inherit;">
        <img style="object-fit: cover" width="100%" height="100%" src="https://images.pexels.com/photos/1375807/pexels-photo-1375807.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>

      <div style="display: grid; grid-template-rows: auto auto; height: 75vh; grid-gap: 20px">
          <div style="border: solid 2px rgb(189, 253, 189); padding: 0 10%; background-color: white">
              <h2>something here</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error dolores sit beatae aliquid itaque vero necessitatibus sed facilis laborum laudantium, repellat, molestias at. Adipisci debitis nisi eligendi incidunt nesciunt?
              </p>
          </div>
          <div style="border: solid 2px rgb(201, 248, 201); display: grid; grid-template-columns: auto auto auto auto; grid-gap: 10px; padding: 10px; background-color: white ">
            
            <img style="border-right: 1px solid black" width="100%" height="80%"  src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
            <img style="border-right: 1px solid black" width="100%" height="80%"  src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
            <img style="border-right: 1px solid black" width="100%" height="80%"  src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
            <img width="100%" height="80%"  src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">

          </div>
          

      </div>
    

    </section>

  <div style="background-color: white; height: 60vh; padding: 0 5%; "> 

        <div class="subscribeContainer" style="width: 100%; height: 40vh; top: 50px;  background-image: url('https://images.pexels.com/photos/1696735/pexels-photo-1696735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: cover;color: rgb(255, 255, 255);; position: relative; padding: 5%">
            <label for="subscribe">TELL US YOUR EMAIL TO STAY IN TOUCH</label>
            <input placeholder="email" type="text"  class="form-control">
            

              <br>
            <div style="display: grid; grid-template-columns: 25% 6% 10%; justify-content: first baseline ">
                  <button class="" style="position: relative; top: 5px;background-color: rgba(255, 255, 255, 0.24); color: rgb(0, 0, 0); padding: 5px 2%">Subscribe</button>
                  <a style="cursor: pointer;;color: rgb(0, 0, 0); font-family:'Abril Fatface', cursive; font-size: 2.5em; position: relative;top: 5px; left: 10%; " target="blank"  href="https://www.instagram.com/ayia.com.au/">  <i style="color: rgb(90, 0, 35); "  class="fab fa-instagram"></i></a> 
                  <a style="color: rgb(0, 0, 0); font-family:'Abril Fatface', cursive; position: relative; font-size: 2.5em; top: 5px" href="" target="blank"><i style="color: rgb(41, 22, 151); box-shadow: 10px 10px 10px black " class="fab fa-facebook"></i> </a>

            </div>
           
         <br>
        </div>
        <br>
    </div> -->