<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ayia Skin care</title>
</head>
<!--  -->

<body style="">

  <header style="display: none">
    <img src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
 </header>



  <section class="slideShowSection">
      <h1 style="position: absolute; font-size: 20px; z-index: -2"   >
          ayia skin care products naturally made from 100% naturual product.
           dark skin conscious! environmentaly conscious! 100% natural! 
          
        </h1>
    <div class="innerSlideshow" >

        <!-- <app-CustomCarousel></app-CustomCarousel> -->
      
  
            <!--  -->
    <slideshow 
                  #slideshow
                  class="slideshow"
                  [minHeight]="'80vh'"
                  [autoPlay]="true"
                  [autoPlayInterval]= 15000
                  [showDots]="true"
                  dotColor='black'
                  captionBackground="black"
                  [showArrows]="false"
                  backgroundSize="cover"
                  backgroundPosition="center "
                  [imageUrls]="imageSources"
                  [showCaptions]="false"
                  captionColor="black"
                  captionBackground='#178a0049'
                  [lazyLoad]="imageSources?.length > 1"
                  [autoPlayWaitForLazyLoad]="true">
          </slideshow>

          <slideshow 
          #slideshow
          class="slideshowMobile"
          [minHeight]="'90vh'"
          [autoPlay]="true"
          [autoPlayInterval]= 15000
          [showDots]="true"
          dotColor='black'
          captionBackground="black"
          [showArrows]="false"
          backgroundSize="contain"
          backgroundPosition="center "
          [imageUrls]="imageSource2"
          [showCaptions]="false"
          captionColor="black"
          captionBackground='#178a0049'
          [lazyLoad]="imageSources?.length > 1"
          [autoPlayWaitForLazyLoad]="true">
  </slideshow>
    
    </div>
  </section>

 
   
 

</body>
<!--  -->
</html>

