<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AYIA Narutral Skin care products: Home</title>
  <meta title="description" content="ayia natural skin and beauty based boutique Sydney Australia. Order now for 
  fast shipping and delivery. Sales on now Get Discounts on Products. 100% natural product made dark skin conscious
  environmental friendly, bio degradeable packaging, skin care for all skin types, hydrates your body
  ">
</head>
<!--  -->

<body style="">

  <header style="display: none">
    <img src="https://wildxplora.firebaseapp.com/assets/pic/9.png" alt="">
 </header>



  <section class="slideShowSection">

    <div class="innerSlideshow" >

 <app-CustomCarousel></app-CustomCarousel>

            <!--  -->
        <!-- <slideshow 
                  #slideshow
                  class="slideshow"
                  [minHeight]="'80vh'"
                  [autoPlay]="true"
                  [autoPlayInterval]= 15000
                  [showDots]="true"
                  dotColor='black'
                  captionBackground="black"
                  [showArrows]="false"
                  backgroundSize="cover"
                  backgroundPosition="center "
                  [imageUrls]="imageSources"
                  [showCaptions]="false"
                  captionColor="black"
                  captionBackground='#178a0049'
                  [lazyLoad]="imageSources?.length > 1"
                  [autoPlayWaitForLazyLoad]="true">
          </slideshow> -->

          <slideshow 
              #slideshow
              class="slideshowMobile"
              [minHeight]="'90vh'"
              [autoPlay]="true"
              [autoPlayInterval]= 15000
              [showDots]="true"
              dotColor='black'
              captionBackground="black"
              [showArrows]="false"
              backgroundSize="contain"
              backgroundPosition="center "
              [imageUrls]="imageSource2"
              [showCaptions]="false"
              captionColor="black"
              captionBackground='#178a0049'
              [lazyLoad]="imageSources?.length > 1"
              [autoPlayWaitForLazyLoad]="true">
          </slideshow>
    
    </div>
  </section>

  <section style="height: 100vh; display: grid; grid-template-columns: auto auto">
    <img width="100%" height="100%" style="object-fit: cover; padding:10%" src="https://images.pexels.com/photos/1108572/pexels-photo-1108572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
      <h1 style="position: absolute; font-size: 20px; z-index: 1; position: relative; top: 20%; padding: 0 10%"   >
          ayia skin care products naturally made from 100% naturual product.
           dark skin conscious! environmentaly conscious! 100% natural! 
          
        </h1>
  </section>
 
   
 

</body>
<!--  -->
</html>

