<div style="background-color: white; height: 100vh; display: grid; grid-template-columns: auto 60%">


    <div>
      <ul>
      <h2 style="padding: 10px">DashBoard</h2>
<hr>        
        <li><a >Saved</a></li>
        <li><a >Purchase History</a></li>
        <li><a >likes</a></li>
        <li><a routerLink="/admin/productManagement">AdminPAge</a></li>
        <li (click)="logout()"><a >logout <i class="fas fa-sign-out-alt"></i></a></li>
        
      </ul>
    </div>
    <div>
      <h1>outputs here</h1>
    </div>


</div>