/* mobile phone */
@media(max-width:500px){
    .main-products{
        width: 100%;
        position: relative;
        left: 4vw;
        /* top: 8%; */
        animation-name: example;
        animation-duration: 2s;
        z-index: 0;
        margin-bottom: 50px;
        /* display: none; */
    }

    .describtion{
        height: 50vh;
    }

    .productOutput{
        background-color: white; 
        border: solid 1px black; 
        width: 100%; 
        height: 40vh; 
        margin: 10px 0
    }

    .productOutput .name{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        font-size: 1em;
        top: 20px;
        padding: 0 2%
    }

    .productOutput .price{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        bottom: 10px;
        padding: 0 5%;
        background-color: black;
        color: white;
        right: 30px;
      
    }
    .productOutput .cart{
        position: absolute;
        bottom: 25px;
        padding: 0 5%;
        display: none;
        /* background-color: black; */
        /* color: white; */
        right: 120px;
      
    }

    .productOutput img{
        position: relative;
        object-fit: contain; 
        padding: 5% 0;
        margin: 20px 0;
    }


    @keyframes example {
        0%   {opacity: 0}
        25%  {opacity: 0.25}
        50%  {opacity: 0.5}
        75%  {opacity: 0.75}
        100% {opacity: 1}
      }
}
/*  */
/*  */
/*  */
/*  */

/* tablets */
@media(min-width:426px) and (max-width:768px){
    .main-products{
        padding: 30px 5vw;
        width: 100%;
        position: relative;
        top: 8%;
        animation-name: example;
        animation-duration: 2s;
    }
    .describtion{
        height: 50vh;
    }

    .productOutput{
        background-color: white; 
        border: solid 1px black; 
        width: 100%; 
        height: 40vh; 
        margin: 10px 0
    }

    .productOutput .name{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        font-size: 1em;
        top: 20px;
        padding: 0 2%
    }

    .productOutput .price{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        bottom: 10px;
        padding: 0 5%;
        background-color: black;
        color: white;
        right: 30px;
      
    }
    .productOutput .cart{
        position: absolute;
        bottom: 25px;
        padding: 0 5%;
        display: none;
        /* background-color: black; */
        /* color: white; */
        right: 120px;
      
    }

    .productOutput img{
        position: relative;
        object-fit: contain; 
        padding: 5% 0;
        margin: 20px 0;
    }

    



 
    img{
        object-fit: contain;
    }
  
    .selection{
        border-right: solid 1px black
    }



    @keyframes example {
        0%   {opacity: 0}
        25%  {opacity: 0.25}
        50%  {opacity: 0.5}
        75%  {opacity: 0.75}
        100% {opacity: 1}
      }
}

/*  */
/*  */
/*  */

/* laptops and beyonf */
@media(min-width:769px){
    .main-products{
        padding: 0 5%;
        width: 100%;
        position: relative;
        /* top: 8%; */
        animation-name: example;
        animation-duration: 2s;
    }

    .describtion{
        height: 50vh;
    }

    .productOutput{
        background-color: white; 
        border: solid 1px black; 
        width: 100%; 
        height: 40vh; 
        margin: 10px 0
    }

    .productOutput .name{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        font-size: 1em;
        top: 20px;
        padding: 0 2%
    }

    .productOutput .price{
        position: absolute;
        font-family: 'Hepta Slab', serif;
        bottom: 10px;
        padding: 0 5%;
        background-color: black;
        color: white;
        right: 30px;
      
    }
    .productOutput .cart{
        position: absolute;
        bottom: 25px;
        padding: 0 5%;
        display: none;
        /* background-color: black; */
        /* color: white; */
        right: 120px;
      
    }

    .productOutput img{
        position: relative;
        object-fit: contain; 
        padding: 5% 0;
        margin: 20px 0;
    }

    




body{
    background-color: rgba(255, 255, 255, 0.336);
}

    @keyframes example {
        0%   {opacity: 0}
        25%  {opacity: 0.25}
        50%  {opacity: 0.5}
        75%  {opacity: 0.75}
        100% {opacity: 1}
      }
}